# Compiled output
/dist
/backend/dist
/backend/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# OS
.DS_Store

# Ignore node_modules
/backend/node_modules
node_modules/

# Ignore specific media files in backend gallery
backend/gallery/*.mp4
backend/gallery/*.avi
backend/gallery/*.mov

# Allow images and necessary assets
!backend/gallery/*.jpg
!backend/gallery/*.png
!backend/gallery/*.webp
!backend/gallery/*.jpeg
!backend/gallery/*.svg
!backend/gallery/*.gif

# Tests and temporary files
/coverage
/.nyc_output
backend/tmp/
backend/test/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
backend/gallery/*
