.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px; /* فاصله 50 پیکسل از بالا */
  background-color: rgba(255, 255, 255, 0.9); /* پس‌زمینه‌ی سفید با شفافیت */
  border-radius: 8px; /* گرد کردن گوشه‌های فرم */
  padding: 16px; /* فضای داخلی */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* اضافه کردن سایه */
}

.buttonClass {
  width: 100%;
  max-width: 200px;
  align-self: center;
}

@media (max-width: 600px) {
  .formContainer {
    padding: 16px;
  }
}
