@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


@font-face {
  font-family: 'IranianSans';
  src: url('/fonts/IranianSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

html[lang="fa"] body  * {
  font-family: 'IranianSans', Arial, sans-serif!important;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* تنظیمات کلی برای حداکثر عرض صفحه */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

/* استایل‌های عمومی برای متن و رنگ پس‌زمینه */
body {
  margin-top: 50px;
  position: relative;
  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px); /* اعمال تار کردن */
  z-index: -1; /* این خط باعث می‌شود که تصویر محو‌شده در پس‌زمینه باقی بماند */
}



/* تنظیمات کلی برای padding و margin */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* استایل لینک‌ها */
a {
  color: inherit;
  text-decoration: none;
}

/* حالت دارک‌مود برای تنظیمات کلی */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
