.dashboardContainer {
    flex-grow: 1;
    margin-top: 50px; /* فاصله از نوبار */
  }
  
  .paper {
    padding: 16px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .paper {
      padding: 12px;
    }
  }
  