/* ProductDetails.module.css */
.container {
    padding: 40px 0;
    margin: 0 auto;
  }
  
  .backButton {
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #ffcc00;
    color: white;
  }
  

  .inputNoArrows {
    appearance: none; /* Standard property */
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    -moz-appearance: textfield; /* Firefox */
  }
  
  .inputNoArrows::-webkit-outer-spin-button,
  .inputNoArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

  .productInfo {
    padding-left: 20px;
  }
  
  .productTitle {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }
  


  .productPrice {
    font-size: 1.8rem;
    color: #ff5722;
    margin-bottom: 20px;
  }
  
  .productDescription {
    font-size: 1rem;
    color: #666;
    margin-top: 20px;
  }
  
  .selectWrapper {
    margin-top: 20px;
  }
  
  .selectLabel {
    font-weight: 500;
    color: #444;
  }
  
  .addButton {
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #1565c0;
  }
  
  .quantityInput {
    margin-top: 20px;
  }
  
  